---
---

<html lang="en">
  <head>
    <script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.9.4/p5.js"></script>

    <link rel="stylesheet" type="text/css" href="/style.css" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>p5-lavarand</title>
  </head>
  <body>
       <dialog data-dialog class="dialog">
      <p>
        Left click and hold to create a new blob. Right click to change style.
      </p>
      <button data-close-dialog>Continue</button>
    </dialog>
    <script is:inline src="/dialog.js"></script>
    <script is:inline src="/helpers.js"></script>
    <script is:inline src="/density-field.js"></script>
    <script is:inline src="/circle.js"></script>
    <script is:inline src="/marching-square-grid.js"></script>
    <script is:inline src="/dot-grid-wall.js"></script>
    <script is:inline src="/crypto-grid-wall.js"></script>
    <script is:inline src="/canvas.js"></script>
    <script is:inline src="/main.js"></script>
  </body>
</html>